extends layout 

block content

    div.container.mt-5
        h1.text-center.font-weight-bold AACR - Admin Dashboard
        hr
        br
        div
            if(username)
                h5.float-start Welcome #{username}
            form(method="get" action="/logout")
                button.btn.btn-danger.float-end.mb-2(type="submit") LOGOUT
        
        
        table.table
            thead
                tr.table-dark
                    th(scope="col") Full name 
                    th(scope="col") Email  
                    th(scope="col") Feedback 
                    th(scope="col") Uploads 
                    th(scope="col") Status 
            
    
            if(feedbacks && feedbacks.length)
                tbody
                    each feedback in feedbacks 
                        - var style = "background-color:#ddffdd;"
                        if(feedback.pot)
                            - style = "background-color:#ffcccb;"
                        tr(style = "#{style}")
                            th(scope="row") #{feedback.full_name}
                            td #{feedback.email}
                            td #{feedback.complaint}
                            if(feedback.file_lnk)
                                td 
                                    a.btn.btn-outline-success(href='#{feedback.file_lnk}') View PDF
                            else
                                td
                            td 
                                div.input-group
                                - var active = (feedback.status == 'active') 
                                
                                - var inactive = (feedback.status == 'inactive') 
                                    form(method="post" action="/nimda")
                                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                                        input(type="hidden", name="user_id", value="#{feedback.user_id}")
                                        select.form-select(id="user_status" name="user_status") 
                                            //- "changeStatus('#{feedback.user_id}', '#{csrfToken}')")
                                            option(selected = active , value="active") Active 
                                            option( value="inactive", selected = inactive) Inactive
                                        
            
            else 
                div.container.mt-5 
                    h5.text-center No feedback to show  
    div.modal( id="success-dialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h4.modal-title Congratulations!
     
                div.text-center.modal-body
                    img(width=120 height=120 src="/images/success.png")
                    h4.m-4 User status has been updated successfully!
      
                div.modal-footer
                    a.btn.btn-success.px-5(href="/nimda") OK 
    
    
    script(type="text/javascript" nonce="7726c7f26c").
        $('#user_status').change(function(){
            console.log('change triggered');
            $(this).closest('form').submit();
        });

        
    if(success) 
        script(type="text/javascript" nonce="4726c7f26c").
       
            window.onload = function() {
                $("#success-dialog").modal('show');
                success=false;
            } 
    
    
        
        