extends layout

block content

    div.m-4.d-flex.justify-content-center
        form.p-5.pt-4.rounded.shadow(action="/confirm", method="post", autocomplete="off" style="background-color: #ddddff")
            div(style = "width: 100%; border: 3px solid #6a6ed3; border-right: none; border-left: none;")
                h1.text-center.p-1 AACR - Feedback Site
                h3.text-center.fs-2 User Confirmation
                
            br
            br
            

            if(typeof(error)!=='undefined')
                div.alert.alert-danger(role="alert")
                    p.m-2.fw-bolder.fs-5 Confirmation failed!
                    ul
                        li #{error} 
            
            if(typeof(errors)!=='undefined')
                div.alert.alert-danger(role="alert")
                    p.m-2.fw-bolder.fs-5 Confirmation failed!
                    ul
                        for each in errors
                            li #{each.msg}
            
            label First Name
            input.form-control(type="text", 
                               name="fname", 
                               autocomplete="off",
                               required="true",
                               placeholder="First Name")
            br
            label Last Name
            input.form-control(type="text", 
                               name="lname", 
                               autocomplete="off",
                               required="true",
                               placeholder="Last Name")
            br
            hr
            h6.text-center.fs-3 Security Questions 
            hr
            label What's the name of your favorite teacher?
            input.form-control(type="text", 
                               name="teacher", 
                               autocomplete="off",
                               required="true",
                               placeholder="")
            br
            label Who is your role model?
            input.form-control(type="text", 
                               name="role_model", 
                               autocomplete="off",
                               required="true",
                               placeholder="")
            br
            label What's the last name of your mother?
            input.form-control(type="text", 
                               name="mother", 
                               autocomplete="off",
                               required="true",
                               placeholder="")
            br
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            div.d-grid.mx-auto
                button.btn.btn-primary(type="submit") SUBMIT
       
            div.text-center.p-3
                a.text-center(href="/login") Already have an account?
       


         
