extends layout

block content

    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        div.container-fluid
            if(username)
                a.navbar-brand.fw-bold Welcome to AACR Web page, #{username}
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon

            div.collapse.navbar-collapse.justify-content-center(id="navbarText")
                ul.navbar-nav.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link.fw-bolder( href="/") Home
                    li.nav-item
                        a.nav-link.fw-bolder(href="/feedback") Submit a feedback
                    li.nav-item
                        a.nav-link.active.fw-bolder(aria-current="page" href="/reset") Reset Password
                    
            a.btn.btn-danger.d-flex(href="/logout") Logout


    div.m-4.d-flex.justify-content-center
        
        form.p-5.rounded.shadow(method="post", action=`/reset`, autocomplete="off" style="background-color: #ddddff")
            div
                h2.text-center.p-2 AACR - Feedback Site
            h3.text-center Password Reset Page
            hr 
            br

            if(typeof(error)!=='undefined')
                div.alert.alert-danger(role="alert")
                    p.m-2.fw-bolder.fs-5 Reset failed!
                    ul
                        li #{error} 
            
            if(typeof(errors)!=='undefined')
                div.alert.alert-danger(role="alert")
                    p.m-2.fw-bolder.fs-5 Reset failed!
                    ul
                        for each in errors
                            li #{each.msg}
            
                
 
            label New Password
            input.form-control(type="password", 
                               name="password", 
                               autocomplete="off",
                               required="true",
                               placeholder="New Password")
            br
            label Confirm Password 
            input.form-control(type="password", 
                               name="c_password", 
                               autocomplete="off",
                               required="true",
                               placeholder="Confirm Password")
            br
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            div.d-grid.mx-auto
                button.btn.btn-primary(type="submit") Update

    div.modal( id="success-dialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h4.modal-title Congratulations!
     
                div.text-center.modal-body
                    img(width=120 height=120 src="images/success.png")
                    h4.m-4 Your password has been changed successfully!
      
                div.modal-footer
                    a.btn.btn-success.px-5(href="/dashboard") OK 
   
    if(success)   
        script(type = "text/javascript" nonce="r@nd0m").
            window.onload = function() {
                    $("#success-dialog").modal('show');
                    success = false;
                }     
    

            
    

       
           